head
    title= "form"
body
    form(method="post" action="/submit")
        h3 name1=name1
        br
        input(type="input" name="firstname")
        br
        h4 DOB=DOB
        br
        input(type="date" name="DOB")
        br
        input(type="submit")
